/* 
// mega menu - portfolio:start
----------------------------------------- */

/* .megamenu-portfolio .megamenu__content-wrapper {
    display: block;
} */

.megamenu-tab-title {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin: 0 0 20px;
}
.megamenu-tab-title.megamenu-tab-title--left-align {
    text-align: left;
    margin: 0 0 15px;
}
.megamenu-portfolio .megamenu__service-view-all-image-wrapper {
    margin: 20px 0 0;
}

.megamenu-portfolio .megamenu__service-view-all-image {
    max-height: 100px;
    width: 100%;
    object-fit: cover;
}

/* --- mega menu layout composition:start ---- */

.megamenu-portfolio .megamenu__content {
    padding: 0;
    width: 924px;
    gap: 0;
}
.megamenu__left-panel,
.megamenu__right-panel {
    padding: 30px;
}
.megamenu__left-panel {
    width: 315px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #E7E7E7;
    border-radius: 25px 0 0 25px;
}
.megamenu__right-panel {
    flex: 1 1 auto;
}

.megamenu-tab-button-wrapper {
    margin-top: 36px;
    display: flex;
    justify-content: center;
}


/* ---/ mega menu layout composition:end \---- */



/* --- mega menu tab item:start ---- */
.megamenu-tab__item {
    border-radius: 8px;
    padding: 8px 16px 8px 8px;
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}
.megamenu-tab__item:hover {
    background-color: #ffffff;
}
.megamenu-tab__item + .megamenu-tab__item {
    margin-top: 10px;
}

.megamenu-tab__icon-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #C7C7C7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.megamenu-tab__item:hover .megamenu-tab__icon-wrapper {
    background-color: #f4f4f4;
}
.megamenu-tab__label {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    flex: 1 1 auto;
}

.megamenu-tab__circle-shape {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #7CE3AC;
    opacity: 0;
}
.megamenu-tab__item:hover .megamenu-tab__circle-shape {
    opacity: 1;
}

/* ---/ mega menu tab item:end \---- */

/* --- mega menu tab item:start ---- */
.megamenu-portfolio a.megamenu__service-view-all-card {
    background-color: #fff;
    margin-top: 45px;
}
/* ---/ mega menu tab item:end \---- */

/* --- mega menu tab item:start ---- */
.megamenu-tab-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.megamenu-tab-card {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(33.333% - 10px);
}

.megamenu-tab-card__image-wrapper {
    margin: 0;
    width: 100%;
    height: 220px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.megamenu-tab-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 300ms ease-out 0s;
}
.megamenu-tab-card__image-wrapper:hover .megamenu-tab-card__image {
    transform: scale(1.2);
}
.megamenu-tab-card__title {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.megamenu-tab-card__title-circle {
    height: 10px;
    width: 10px;
    background-color: #7CE3AC;
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 5px;
}

.megamenu-tab-card__title-text {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.megamenu-tab-card__icon-wrapper {
    width: 22px;
    height: 22px;
    background-color: #E7E7E7;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 300ms ease-out 0s;
}
.megamenu-tab-card__image-wrapper:hover .megamenu-tab-card__icon-wrapper {
    opacity: 1;
    z-index: 1;
}
.megamenu-tab-card__icon {
    height: 12px;
    width: 12px;
}
/* ---/ mega menu tab item:end \---- */

/* --- mega menu tag:start ---- */
.megamenu-tab-industries {
    margin-top: 40px;
}
.megamenu-tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.megamenu-tag-item {
    height: 32px;
    border: 1px #E7E7E7 solid;
    border-radius: 4px;
    padding: 3px 10px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.megamenu-tag-item.active,
.megamenu-tag-item:hover {
    background-color: #E7E7E7;
}
.megamenu-tag-icon-wrapper img {
    display: block;
    max-height: 18px;
}
.megamenu-tag-label {
    font-size: 16px;
    font-weight: 500;
    color: #202020;
}
/* ---/ mega menu tag:end \---- */


/* _____/ mega menu - portfolio:end \_______*/

